<!DOCTYPE html>
<html>
<head></head>

<body>
    <h1>Title h1!</h1>
    hardcoded text: before... <strong>{{ vartext }}</strong> ...and after! <br />
    <a href="world/about">About...</a>
</body>

</html>